/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.container{
		width: 100%;
	}
	.box{
		width: 100%;
	}
	.box1{
		background-color: #00f904;
	}
	.box2{
		background-color: #00ecff;
	}
	.box3{
		background-color: #ff3300;
	}
	.box4{
		background-color: #fff400;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.container{
		width: 516px;
	}
	.box{
		width: 100%;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.container{
		width: 708px;
	}
	.box{
		width: 50%;
	}
	.box1{
		background-color: #fff400;
	}
	.box2{
		background-color: #ff00f4;
	}
	.box3{
		background-color: #00ecff;
	}
	.box4{
		background-color: #00f904;
	}	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
		.container{
		width: 1160px;
	}
	.box1{
		background-color: #ec9358;
	}
	.box2{
		background-color: #ead478;
	}
	.box3{
		background-color: #80e558;
	}
	.box4{
		background-color: #3fc979;
	}	
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	.container{
		width: 1340px;
	}
}